.header{
    height: 100px;
    width: 100%;
    /* background-color: rosybrown; */
    text-align: center;
    color: #459ddd;
    /* position:absolute; */
}
.header h2{
    padding-top: 35px;
}
.content{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(180deg,#1f94e7,#481a53);
    position: relative;
}
.content .signup{
    height: 300px;
    width: 400px;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    align-items: center;
    position: relative;
    top: 110px;
    border-radius: 5px;
    box-shadow:10px 10px 20px rgb(100, 99, 99) ;
}
.content .signup .username{
    width: 270px;
    height: 50px;
    /* background-color: aqua; */
    position: absolute;
    top: 30px;
    left: 17%;
    border-radius: 5px;
    border: 1.5px solid #35a0ec;
}
.content .signup .password{
    width: 270px;
    height: 50px;
    /* background-color: aqua; */
    position: absolute;
    top: 102px;
    left: 17%;
    border-radius: 5px;
    border: 1.5px solid #35a0ec;
}
.username input,.password input{
    margin: auto;
    width: 240px;
    height: 30px;
    /* background-color: #459ddd; */
    margin-top: 10px;
    border:0 none;
    outline: none;
    font-size: 20px;
    font-weight: 320;
    background-color: rgb(255, 255, 255);
}

.code{
    width: 100px;
    height: 32px;
    /* background-color: darkgreen; */
    position: absolute;
    top: 170px;
    left: 17%;
    align-items: center;
    border: 1.5px solid darkgrey;
    border-radius: 5px;
}
.code input{
    margin: auto;
    width: 90px;
    height: 28px;
    margin-top: 2.01px;
    outline: none;
    border: none;
    font-size: 18px;
}
button{
    text-decoration: none;
    display: block;
    width: 240px;
    height: 50px;
    background-color: #35a0ec;
    position: absolute;
    bottom: 25px;
    left: 20%;
    color: #fffffffb;
    text-align: center;
    line-height: 2.2;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgb(167, 167, 167) 1px 0px 5px;
    outline: none;
}
.footer{
    text-align: center;
}
